@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");

body {
    background-color: rgb(13, 25, 64);
    font-family: "Roboto Mono", monospace;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: white;
}

label {
    color: white;
}

input {
    display: block;
    margin-bottom: 10px;
}

form {
    display: none;
    flex-direction: column;
}

.openclose {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.showform {
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: rgb(48, 152, 216);
    border-radius: 15px;
}

.closeform {
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: rgb(216, 48, 48);
    border-radius: 15px;
}

.closeform {
    display: none;
}

.newbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

#read {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.read {
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}

.addbook {
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: rgb(48, 216, 90);
    border-radius: 15px;
}

.booklist {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: aliceblue;
    color: black;
    padding: 20px;
    margin: 20px;
    min-width: 240px;
    min-height: 200px;
    border-radius: 15px;
}

.bookbtns {
    display: flex;
    justify-content: right;

    margin-top: 50px;
}

svg {
    max-width: 30px;
    margin-left: 5px;
}

.true {
    border-right: 20px solid rgb(48, 216, 90);
}

.false {
    border-right: 20px solid rgb(212, 109, 54);
}
